<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>Solar Salon</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Solar Hair Salon</h1>
        <h4>The only hair salon on the surface of the sun</h4>

        <form action="/stylists" method="post">
            <div class="form-group">
                <label for="stylist_name">Enter a new Stylist name to get started</label>
                <input type="text" name="stylist_name" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-info">Add Stylist!</button>
        </form>

        {% if stylists is not empty %}
            <p>
                <a href="/stylists">View all stylists</a>
            </p>
        {% endif %}
    </div>
</body>
</html>
