<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>Solar Salon</title>
</head>
<body>
    <div class="container">
        <h1>All Stylists at Solar Salon</h1>

        <form action="/stylists" method="post">
            <div class="form-group">
                <label for="stylist_name">Enter a new Stylist name</label>
                <input type="text" name="stylist_name" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-info">Add Stylist!</button>
        </form>

        {% if stylists is not empty %}
            {% for stylist in stylists %}
                <ul>
                    <li><a href="/stylists/{{ stylist.getId }}">{{ stylist.getName }}</a></li>
                </ul>
            {% endfor %}
            <form action="/delete_stylists" method="post">
                <button type="submit" class="btn btn-danger">Delete All Stylists</button>
            </form>
        {% else %}
            <p>
                There are no stylists working at Solar Salon yet
            </p>
        {% endif %}



    </div>
</body>
</html>
